---
import HeroInner from "./HeroInner.astro";
import { Image, getImage } from "astro:assets";
import assets from "../../assets";
import classNames from "../../utils/classNames";

const optimizedMdBackground = await getImage({
  src: assets.cottage,
  format: "webp",
  inferSize: true,
});

const backgroundImgClasses = "h-full w-screen bg-cover bg-center relative";
const showOnDesktop = "hidden md:flex";
const showOnMobile = "flex md:hidden";
---

<section class={"w-screen h-[80vh]"}>
  <div
    class={classNames(backgroundImgClasses)}
    style={`background-image: url(${optimizedMdBackground.src});`}
  >
    <HeroInner>
      <slot />
    </HeroInner>
  </div>
</section>
