---
import Layout from "../layouts/Layout.astro";
import Hero from "./_components/Hero.astro";
import ADUIntroSection from "./_components/ADUIntroSection.astro";
import AboutSection from "./_components/AboutSection.astro";
---

<Layout title="TODO write a catch title">
  <main>
    <Hero />
    <ADUIntroSection />
    <AboutSection />
  </main>
</Layout>
