---
import classNames from "../../../utils/classNames";
import {
  sharedTypographyStyles,
  type SharedTypographyProps,
} from "./sharedTypographyProps";

type Props = SharedTypographyProps & {
  className?: string;
  size?: "base" | "sm" | "xs";
};

const props = Astro.props;
const { size, className: classNameProp } = props;

const className = classNames(
  sharedTypographyStyles(props),
  "text-stone-800 font-sans mb-2",
  {
    "text-base": size === "base",
    "text-sm": size === "sm",
    "text-xs": size === "xs",
  },
  classNameProp
);
---

<p class={className}><slot /></p>
